In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('LoansTrainingSet.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head(50)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0
5,0000a149-b055-4a57-b762-280783ccc25e,62ddc017-7023-4ba7-af23-1a7cd16c1ce5,Fully Paid,10208,Short Term,716.0,10+ years,Rent,41853.0,Business Loan,$561.52,13.2,NaN,4,1,2289,4671,1.0,0.0
6,0000afa6-8902-4f8f-b870-25a8fdad0aeb,e49c1a82-a0f7-45e8-9f46-2f75c43f9fbc,Charged Off,24613,Long Term,6640.0,6 years,Rent,49225.0,Business Loan,$542.29,17.6,73.0,7,0,14123,16954,0.0,0.0
7,0000afa6-8902-4f8f-b870-25a8fdad0aeb,e49c1a82-a0f7-45e8-9f46-2f75c43f9fbc,Charged Off,24613,Long Term,NaN,6 years,Rent,NaN,Business Loan,$542.29,17.6,73.0,7,0,14123,16954,0.0,0.0
8,00011dfc-31c1-4178-932a-fbeb3f341efb,ef6e098c-6c83-4752-8d00-ff793e476b8c,Fully Paid,10036,Short Term,NaN,5 years,Rent,NaN,Debt Consolidation,$386.36,17.7,NaN,7,0,11970,16579,0.0,0.0
9,0001cb86-af28-4011-bb86-183786e473ae,4aae67bb-d54b-41ae-8bce-1d62022ed8dd,Fully Paid,2036,Short Term,733.0,NaN,Home Mortgage,55985.0,Debt Consolidation,$741.79,19.8,29.0,7,0,10926,15676,0.0,0.0
10,00020fb0-6b8a-4b3a-8c72-9c4c847e8cb6,c9decd06-16f7-44c3-b007-8776f2a9233d,Fully Paid,99999999,Short Term,742.0,3 years,Home Mortgage,64760.0,Debt Consolidation,$582.84,26.8,NaN,11,0,8880,22711,0.0,0.0
11,0002593b-4973-4f28-8d1c-2b323a125863,c1322b41-c3f5-4395-bda7-a61f848c1f7e,Fully Paid,10233,Short Term,742.0,2 years,Home Mortgage,153495.0,Home Improvements,"$1,573.32",19.2,NaN,8,0,32630,41726,0.0,0.0
12,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17980,Short Term,NaN,< 1 year,Own Home,NaN,Debt Consolidation,$597.50,9.9,43.0,7,0,6817,22800,0.0,0.0
13,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17961,Short Term,701.0,< 1 year,Own Home,53053.0,Debt Consolidation,$596.85,9.9,43.0,7,0,6810,22775,0.0,0.0
14,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17961,Short Term,701.0,< 1 year,Own Home,53053.0,Debt Consolidation,$596.85,9.9,43.0,7,0,6810,22775,0.0,0.0
15,00029f9f-0cc5-4d4e-aabc-ea4a7fe74e12,afbc2fa3-3bad-4d48-b691-829aed78bad5,Charged Off,17980,Short Term,701.0,< 1 year,Own Home,53112.0,Debt Consolidation,$597.50,9.9,43.0,7,0,6817,22800,0.0,0.0
16,0002c691-5314-44ab-b205-3fb1cc4ee6b2,41207d1e-5d13-43ec-9fe9-f222b4da5e0c,Fully Paid,99999999,Short Term,744.0,6 years,Home Mortgage,65605.0,Debt Consolidation,$984.07,21.0,NaN,5,1,11514,17262,1.0,0.0
17,000306fc-516c-48c3-b1c7-7889185dd694,df5577f6-6db3-47ae-9bd7-c4ef7233b4ff,Fully Paid,7587,Short Term,744.0,5 years,Home Mortgage,50580.0,Debt Consolidation,$451.00,18.8,NaN,9,0,8519,15982,0.0,0.0
18,00035328-2636-4390-8322-5841de482d2b,28eb75ac-6a09-4057-b73f-726c72ebf933,Charged Off,11604,Short Term,729.0,6 years,Home Mortgage,35315.0,Debt Consolidation,$662.16,15.0,NaN,12,0,17092,20743,0.0,0.0
19,00035328-2636-4390-8322-5841de482d2b,28eb75ac-6a09-4057-b73f-726c72ebf933,Charged Off,11604,Short Term,729.0,6 years,Home Mortgage,35315.0,Debt Consolidation,$662.16,15.0,NaN,12,0,17092,20743,0.0,0.0
20,00038a08-f058-4add-a8ed-497b91672a9e,727bb429-dfa1-41c4-a347-23230e23949f,Charged Off,16929,Long Term,NaN,3 years,Home Mortgage,NaN,Debt Consolidation,$745.70,14.9,NaN,10,0,28513,101110,0.0,0.0
21,00038a08-f058-4add-a8ed-497b91672a9e,727bb429-dfa1-41c4-a347-23230e23949f,Charged Off,16929,Long Term,734.0,3 years,Home Mortgage,40308.0,Debt Consolidation,$745.70,14.9,NaN,10,0,28513,101110,0.0,0.0
22,0003b749-307f-4830-9fb4-9db7ed1b1c48,998dc43c-f9ce-466e-bdaa-7057b0bbb9cd,Fully Paid,7228,Short Term,NaN,3 years,Home Mortgage,NaN,Debt Consolidation,$439.56,17.8,NaN,13,1,8488,15866,1.0,0.0
23,0003fbfd-33ee-4ae9-8074-b46f6ff59281,c14bbc84-5041-4e70-bd64-3db51f7e80ae,Fully Paid,99999999,Short Term,745.0,10+ years,Rent,39476.0,other,$483.58,15.4,79.0,12,0,4636,21171,0.0,0.0
24,00045ecd-59e9-4752-ba0d-679ff71692b3,b7bce684-b4b0-4b29-af66-eae316bce573,Fully Paid,11863,Short Term,734.0,10+ years,Own Home,69202.0,Debt Consolidation,$859.26,30.3,NaN,7,0,9959,16995,0.0,0.0
25,0004c11a-bacd-4bd0-98d0-efae9cce56e9,c57b1bbd-6be6-4265-a581-01a96f4a9213,Fully Paid,15395,Long Term,733.0,5 years,Home Mortgage,51984.0,Debt Consolidation,$476.53,19.9,NaN,9,0,2184,8989,0.0,0.0
26,0004d002-a494-4f8a-a528-a6d513812701,4722d542-6684-431c-afb6-ba2e847f1098,Fully Paid,4612,Short Term,NaN,10+ years,Rent,NaN,Debt Consolidation,$262.27,14.0,NaN,4,0,8919,9330,0.0,0.0
27,0004d139-d1fb-44ca-9fa5-f5e2d042b81f,587000a6-a421-417b-a5d5-6b8a04345913,Fully Paid,16906,Long Term,728.0,10+ years,Home Mortgage,204920.0,Debt Consolidation,"$2,185.81",29.6,NaN,14,0,47201,54068,0.0,0.0
28,0004f37b-5859-40f6-98d0-367aa3b3f3f1,f662b062-5fa5-463d-b5c0-4e36d09fcab1,Fully Paid,99999999,Short Term,724.0,1 year,Own Home,34297.0,Home Improvements,$777.38,13.6,2.0,12,0,6720,53335,0.0,0.0
29,000582b2-2b2e-4290-9360-43e3a93b57c2,bafabc36-a32f-489c-9531-896ff66c9171,Fully Paid,16080,Long Term,692.0,10+ years,Rent,63315.0,Debt Consolidation,$321.85,13.8,NaN,10,0,9126,13662,0.0,0.0
30,0005f59b-5f14-4290-ba97-a8c749bb5824,3d8be9ee-a74d-409e-9b62-15e7d33a2929,Fully Paid,10529,Short Term,739.0,10+ years,Rent,56694.0,Debt Consolidation,"$1,081.92",15.5,15.0,16,0,24461,42392,0.0,0.0
31,0006572c-9567-484d-b49b-bfe06536aa96,c1a7ba66-9f36-4f5c-86cd-1aa7ad68b954,Charged Off,14727,Short Term,740.0,3 years,Home Mortgage,70690.0,Debt Consolidation,"$1,083.91",18.0,27.0,12,0,43375,225911,0.0,0.0
32,0006572c-9567-484d-b49b-bfe06536aa96,c1a7ba66-9f36-4f5c-86cd-1aa7ad68b954,Charged Off,14727,Short Term,740.0,3 years,Home Mortgage,70690.0,Debt Consolidation,"$1,083.91",18.0,27.0,12,0,43375,225911,0.0,0.0
33,00069ff1-a877-4d35-81be-7cd359b99956,ee3c27f2-766a-499c-9a96-d17c4d2faa16,Fully Paid,1433,Short Term,716.0,10+ years,Home Mortgage,108735.0,Home Improvements,"$2,627.76",15.1,5.0,22,0,27706,49563,0.0,0.0
34,0007276b-a2e1-4096-8777-96a44684707d,3fd8aa1e-6ddd-4d67-b2c1-2a78c082d146,Fully Paid,17484,Long Term,607.0,10+ years,Home Mortgage,76920.0,Debt Consolidation,"$1,756.33",17.7,NaN,9,0,41603,45971,0.0,0.0
35,0007293a-065c-4513-bfd2-e1732fa5439e,c9e40e26-910f-4f04-b640-829478fac10c,Fully Paid,5111,Short Term,735.0,10+ years,Home Mortgage,45999.0,Debt Consolidation,$935.31,16.2,NaN,11,0,26722,39766,0.0,0.0
36,000795b0-d767-42bf-837a-80d5b78c1e50,b533c78c-3096-4914-acb1-5453c0ff76a4,Charged Off,19731,Long Term,623.0,3 years,Rent,43846.0,Buy House,$738.08,16.2,55.0,13,1,9031,17955,1.0,0.0
37,000795b0-d767-42bf-837a-80d5b78c1e50,b533c78c-3096-4914-acb1-5453c0ff76a4,Charged Off,19731,Long Term,623.0,3 years,Rent,43846.0,Buy House,$738.08,16.2,55.0,13,1,9031,17955,1.0,0.0
38,0008255a-402e-4716-9e0a-8bdf55309781,4e25b6bf-9abc-4bbd-841e-c5a8403b68de,Fully Paid,6114,Short Term,NaN,NaN,Home Mortgage,NaN,Debt Consolidation,$206.97,17.8,21.0,8,1,5772,13975,1.0,0.0
39,0008a65c-3054-4b5d-931d-8352021f813d,04513d99-d809-4eb6-b4bb-6abc767d861e,Charged Off,7066,Short Term,741.0,10+ years,Own Home,60564.0,Debt Consolidation,$706.58,14.6,56.0,4,0,6229,9242,0.0,0.0
40,0008a65c-3054-4b5d-931d-8352021f813d,04513d99-d809-4eb6-b4bb-6abc767d861e,Charged Off,7066,Short Term,741.0,10+ years,Own Home,60564.0,Debt Consolidation,$706.58,14.6,56.0,4,0,6229,9242,0.0,0.0
41,0008b9bc-c0a0-4575-9d49-6bfc5589b566,591971e4-611f-47ea-b7ee-e345d6f0683f,Fully Paid,7911,Short Term,729.0,10+ years,Rent,18025.0,Debt Consolidation,$501.70,27.2,25.0,11,0,2863,10723,0.0,0.0
42,0008cacc-1ea9-4599-b114-12709b13c85d,cd853967-4535-4d36-bf93-269504c74911,Fully Paid,99999999,Short Term,750.0,10+ years,Own Home,86785.0,Other,$56.41,22.0,NaN,7,0,3959,63862,0.0,0.0
43,0008f2b0-d440-410f-9174-ffa51ee2154b,fa852dd1-b8a2-401d-b203-c6b91662eb81,Fully Paid,33261,Long Term,737.0,5 years,Home Mortgage,84254.0,Debt Consolidation,"$1,137.43",14.1,NaN,13,0,14633,28919,0.0,0.0
44,0009af13-7b88-4e14-b972-35b146a1a66e,960b78b4-b39a-4498-a1d2-60858daa8cff,Fully Paid,15875,Long Term,746.0,10+ years,Home Mortgage,99220.0,Debt Consolidation,"$1,785.96",26.1,27.0,34,0,11526,149693,0.0,0.0
45,0009bf47-92b9-4ab5-b539-dd649025c557,72ab1e49-579e-4206-a27c-66f65ea7b709,Fully Paid,11313,Short Term,741.0,10+ years,Own Home,80663.0,Debt Consolidation,"$1,250.28",23.1,NaN,9,0,7723,12105,0.0,0.0
46,000a08fa-e669-46dc-9a96-9da6b96570a0,4b7782a6-b84c-4dd9-ac62-f927a68eeaa9,Charged Off,21160,Long Term,NaN,5 years,Home Mortgage,NaN,Debt Consolidation,"$1,290.98",20.8,NaN,28,0,28175,51227,0.0,0.0
47,000a08fa-e669-46dc-9a96-9da6b96570a0,4b7782a6-b84c-4dd9-ac62-f927a68eeaa9,Charged Off,21160,Long Term,636.0,5 years,Home Mortgage,77770.0,Debt Consolidation,"$1,290.98",20.8,NaN,28,0,28175,51227,0.0,0.0
48,000a0abe-b839-414d-9b00-8ba33b47ebce,b2f4c91c-0157-4529-af67-35ffeac65389,Fully Paid,3508,Short Term,736.0,10+ years,Home Mortgage,85191.0,Other,$380.52,28.6,2.0,6,0,11643,25476,0.0,0.0
49,000a4e53-0c08-4fce-a0c2-f634c3b77013,f245b790-562e-4aa1-bbc9-0acb030818ba,Fully Paid,25543,Short Term,746.0,10+ years,Rent,81736.0,Debt Consolidation,"$1,484.87",24.7,NaN,12,0,17008,33025,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
Loan ID                         256984 non-null object
Customer ID                     256984 non-null object
Loan Status                     256984 non-null object
Current Loan Amount             256984 non-null int64
Term                            256984 non-null object
Credit Score                    195308 non-null float64
Years in current job            245508 non-null object
Home Ownership                  256984 non-null object
Annual Income                   195308 non-null float64
Purpose                         256984 non-null object
Monthly Debt                    256984 non-null object
Years of Credit History         256984 non-null float64
Months since last delinquent    116601 non-null float64
Number of Open Accounts         256984 non-null int64
Number of Credit Problems       256984 non-null int64
Current Credit Balance          256984 non-null int64
Maximum Open Credit             256984 non-null object
Bankruptcies                    256455 non-null float64
Tax Liens                       256961 non-null float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [4]:
#object dataset
df1= df.select_dtypes(include = ['object'])
df1.head()

,Loan ID,Customer ID,Loan Status,Term,Years in current job,Home Ownership,Purpose,Monthly Debt,Maximum Open Credit
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,Short Term,10+ years,Home Mortgage,Debt Consolidation,$584.03,16056
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,Short Term,4 years,Home Mortgage,other,"$1,106.04",19149
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,Short Term,10+ years,Home Mortgage,Debt Consolidation,"$1,321.85",28335
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,Short Term,10+ years,Own Home,Debt Consolidation,$751.92,43915
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,Short Term,4 years,Rent,Debt Consolidation,$355.18,37081

In [5]:
#numeric dataset
df2= df.select_dtypes(exclude = ['object'])
df2.head()

,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
0,11520,741.0,33694.0,12.3,41.0,10,0,6760,0.0,0.0
1,3441,734.0,42269.0,26.3,NaN,17,0,6262,0.0,0.0
2,21029,747.0,90126.0,28.8,NaN,5,0,20967,0.0,0.0
3,18743,747.0,38072.0,26.2,NaN,9,0,22529,0.0,0.0
4,11731,746.0,50025.0,11.5,NaN,12,0,17391,0.0,0.0

In [6]:
df2['Loan ID'] = df['Loan ID']

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
df2.head()

,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens,Loan ID
0,11520,741.0,33694.0,12.3,41.0,10,0,6760,0.0,0.0,000025bb-5694-4cff-b17d-192b1a98ba44
1,3441,734.0,42269.0,26.3,NaN,17,0,6262,0.0,0.0,00002c49-3a29-4bd4-8f67-c8f8fbc1048c
2,21029,747.0,90126.0,28.8,NaN,5,0,20967,0.0,0.0,00002d89-27f3-409b-aa76-90834f359a65
3,18743,747.0,38072.0,26.2,NaN,9,0,22529,0.0,0.0,00005222-b4d8-45a4-ad8c-186057e24233
4,11731,746.0,50025.0,11.5,NaN,12,0,17391,0.0,0.0,0000757f-a121-41ed-b17b-162e76647c1f

In [8]:
#take max value and replace with loanid 
df2= df2.groupby(['Loan ID']).max()

In [9]:
df2.head()

,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
Loan ID,,,,,,,,,,
000025bb-5694-4cff-b17d-192b1a98ba44,11520,741.0,33694.0,12.3,41.0,10,0,6760,0.0,0.0
00002c49-3a29-4bd4-8f67-c8f8fbc1048c,3441,734.0,42269.0,26.3,NaN,17,0,6262,0.0,0.0
00002d89-27f3-409b-aa76-90834f359a65,21029,747.0,90126.0,28.8,NaN,5,0,20967,0.0,0.0
00005222-b4d8-45a4-ad8c-186057e24233,18743,747.0,38072.0,26.2,NaN,9,0,22529,0.0,0.0
0000757f-a121-41ed-b17b-162e76647c1f,11731,746.0,50025.0,11.5,NaN,12,0,17391,0.0,0.0

In [10]:
df2 = df2.reset_index()

In [11]:
df2.shape

(215700, 11)

In [12]:
df1.shape

(256984, 9)

In [13]:
df1.head()

,Loan ID,Customer ID,Loan Status,Term,Years in current job,Home Ownership,Purpose,Monthly Debt,Maximum Open Credit
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,Short Term,10+ years,Home Mortgage,Debt Consolidation,$584.03,16056
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,Short Term,4 years,Home Mortgage,other,"$1,106.04",19149
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,Short Term,10+ years,Home Mortgage,Debt Consolidation,"$1,321.85",28335
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,Short Term,10+ years,Own Home,Debt Consolidation,$751.92,43915
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,Short Term,4 years,Rent,Debt Consolidation,$355.18,37081

In [14]:
df1.drop_duplicates(subset = 'Loan ID', keep='first', inplace = True)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df1.shape

(215700, 9)

In [16]:
result = df1.merge(df2)

In [17]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215700 entries, 0 to 215699
Data columns (total 19 columns):
Loan ID                         215700 non-null object
Customer ID                     215700 non-null object
Loan Status                     215700 non-null object
Term                            215700 non-null object
Years in current job            206710 non-null object
Home Ownership                  215700 non-null object
Purpose                         215700 non-null object
Monthly Debt                    215700 non-null object
Maximum Open Credit             215700 non-null object
Current Loan Amount             215700 non-null int64
Credit Score                    171202 non-null float64
Annual Income                   171202 non-null float64
Years of Credit History         215700 non-null float64
Months since last delinquent    97438 non-null float64
Number of Open Accounts         215700 non-null int64
Number of Credit Problems       215700 non-null int64
Current Credit Balance          215700 non-null int64
Bankruptcies                    215248 non-null float64
Tax Liens                       215678 non-null float64
dtypes: float64(6), int64(4), object(9)
memory usage: 32.9+ MB

In [18]:
result.head()

,Loan ID,Customer ID,Loan Status,Term,Years in current job,Home Ownership,Purpose,Monthly Debt,Maximum Open Credit,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,Short Term,10+ years,Home Mortgage,Debt Consolidation,$584.03,16056,11520,741.0,33694.0,12.3,41.0,10,0,6760,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,Short Term,4 years,Home Mortgage,other,"$1,106.04",19149,3441,734.0,42269.0,26.3,NaN,17,0,6262,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,Short Term,10+ years,Home Mortgage,Debt Consolidation,"$1,321.85",28335,21029,747.0,90126.0,28.8,NaN,5,0,20967,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,Short Term,10+ years,Own Home,Debt Consolidation,$751.92,43915,18743,747.0,38072.0,26.2,NaN,9,0,22529,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,Short Term,4 years,Rent,Debt Consolidation,$355.18,37081,11731,746.0,50025.0,11.5,NaN,12,0,17391,0.0,0.0

In [19]:
result['Loan Status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [20]:
#change loan status to dummy data
n = {'Fully Paid': 1,'Charged Off':0}
result['Loan Status']= result['Loan Status'].map(n)

In [21]:
result.corr()

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
Loan Status,1.000000,0.209140,-0.572370,0.064451,0.030149,0.019400,-0.017602,-0.009090,0.007107,0.000139,-0.010736
Current Loan Amount,0.209140,1.000000,-0.153550,0.019233,0.012003,0.000861,-0.000897,0.001095,0.002305,0.003645,-0.001876
Credit Score,-0.572370,-0.153550,1.000000,-0.038175,-0.015426,-0.011381,0.010508,0.001428,-0.003284,-0.003827,0.006042
Annual Income,0.064451,0.019233,-0.038175,1.000000,0.155115,-0.058157,0.145422,-0.017196,0.305022,-0.047313,0.036216
Years of Credit History,0.030149,0.012003,-0.015426,0.155115,1.000000,-0.039987,0.130020,0.060393,0.202269,0.061128,0.021056
Months since last delinquent,0.019400,0.000861,-0.011381,-0.058157,-0.039987,1.000000,-0.037506,0.091436,-0.025878,0.116348,0.002201
Number of Open Accounts,-0.017602,-0.000897,0.010508,0.145422,0.130020,-0.037506,1.000000,-0.015721,0.221711,-0.024167,0.004558
Number of Credit Problems,-0.009090,0.001095,0.001428,-0.017196,0.060393,0.091436,-0.015721,1.000000,-0.106362,0.763386,0.579014
Current Credit Balance,0.007107,0.002305,-0.003284,0.305022,0.202269,-0.025878,0.221711,-0.106362,1.000000,-0.120069,-0.012301
Bankruptcies,0.000139,0.003645,-0.003827,-0.047313,0.061128,0.116348,-0.024167,0.763386,-0.120069,1.000000,0.049835
Tax Liens,-0.010736,-0.001876,0.006042,0.036216,0.021056,0.002201,0.004558,0.579014,-0.012301,0.049835,1.000000

In [22]:
result['Credit Score'].max()

7510.0

In [23]:
result['Credit Score']= result['Credit Score'].apply(lambda x: x / 10 if x > 851 else x)

In [24]:
result['Credit Score'].max()

751.0

In [25]:
result.corr()

,Loan Status,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
Loan Status,1.000000,0.209140,0.245848,0.064451,0.030149,0.019400,-0.017602,-0.009090,0.007107,0.000139,-0.010736
Current Loan Amount,0.209140,1.000000,0.062514,0.019233,0.012003,0.000861,-0.000897,0.001095,0.002305,0.003645,-0.001876
Credit Score,0.245848,0.062514,1.000000,0.014844,0.085461,0.044787,-0.038642,-0.062030,-0.014965,-0.048202,-0.027476
Annual Income,0.064451,0.019233,0.014844,1.000000,0.155115,-0.058157,0.145422,-0.017196,0.305022,-0.047313,0.036216
Years of Credit History,0.030149,0.012003,0.085461,0.155115,1.000000,-0.039987,0.130020,0.060393,0.202269,0.061128,0.021056
Months since last delinquent,0.019400,0.000861,0.044787,-0.058157,-0.039987,1.000000,-0.037506,0.091436,-0.025878,0.116348,0.002201
Number of Open Accounts,-0.017602,-0.000897,-0.038642,0.145422,0.130020,-0.037506,1.000000,-0.015721,0.221711,-0.024167,0.004558
Number of Credit Problems,-0.009090,0.001095,-0.062030,-0.017196,0.060393,0.091436,-0.015721,1.000000,-0.106362,0.763386,0.579014
Current Credit Balance,0.007107,0.002305,-0.014965,0.305022,0.202269,-0.025878,0.221711,-0.106362,1.000000,-0.120069,-0.012301
Bankruptcies,0.000139,0.003645,-0.048202,-0.047313,0.061128,0.116348,-0.024167,0.763386,-0.120069,1.000000,0.049835
Tax Liens,-0.010736,-0.001876,-0.027476,0.036216,0.021056,0.002201,0.004558,0.579014,-0.012301,0.049835,1.000000

In [26]:
# np.unique(df[['Loan Status', 'Term', 'Home Ownership', 'Purpose']]
# )
# import re
# ''.join(reg.split('\D', xxxx))


#regex the numbers in each for maximum credit
#sklearn get important features random forest

In [27]:
term = {"Short Term": 0 , "Long Term": 1}
result['Term']= result['Term'].map(term)

In [28]:
result['Credit Score'].median()

732.0

In [29]:
result['Credit Score'].unique()

array([741., 734., 747., 746., 716., 664.,  nan, 733., 742., 701., 744.,
       729., 745., 728., 724., 692., 739., 740., 607., 735., 623., 750.,
       737., 636., 736., 715., 727., 743., 732., 751., 703., 707., 665.,
       730., 717., 718., 667., 748., 738., 699., 700., 675., 725., 676.,
       711., 706., 679., 705., 713., 673., 722., 704., 656., 697., 709.,
       749., 726., 609., 662., 693., 687., 720., 712., 708., 710., 680.,
       657., 714., 678., 685., 723., 672., 653., 719., 731., 690., 671.,
       650., 696., 660., 721., 615., 640., 677., 669., 695., 612., 702.,
       683., 684., 698., 666., 606., 674., 655., 625., 652., 691., 689.,
       649., 682., 668., 603., 686., 694., 670., 642., 661., 622., 635.,
       632., 688., 610., 663., 658., 613., 651., 637., 681., 616., 602.,
       639., 638., 643., 601., 619., 641., 645., 605., 631., 654., 648.,
       628., 644., 633., 647., 624., 646., 659., 621., 611., 618., 595.,
       591., 594., 620., 630., 626., 599., 627., 614., 597., 629., 604.,
       587., 593., 634., 586., 592., 608., 617., 589., 600., 585., 596.,
       598., 588., 590.])

In [30]:
result['Credit Score'].fillna(732.0, inplace=True)

In [31]:
result.corr()

,Loan Status,Term,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
Loan Status,1.000000,-0.158569,0.209140,0.257603,0.064451,0.030149,0.019400,-0.017602,-0.009090,0.007107,0.000139,-0.010736
Term,-0.158569,1.000000,-0.031782,-0.433453,0.066624,0.034613,-0.012539,0.077691,-0.018104,0.088358,-0.019868,-0.003069
Current Loan Amount,0.209140,-0.031782,1.000000,0.025357,0.019233,0.012003,0.000861,-0.000897,0.001095,0.002305,0.003645,-0.001876
Credit Score,0.257603,-0.433453,0.025357,1.000000,0.014844,0.076260,0.039556,-0.034046,-0.055747,-0.011869,-0.043110,-0.025183
Annual Income,0.064451,0.066624,0.019233,0.014844,1.000000,0.155115,-0.058157,0.145422,-0.017196,0.305022,-0.047313,0.036216
Years of Credit History,0.030149,0.034613,0.012003,0.076260,0.155115,1.000000,-0.039987,0.130020,0.060393,0.202269,0.061128,0.021056
Months since last delinquent,0.019400,-0.012539,0.000861,0.039556,-0.058157,-0.039987,1.000000,-0.037506,0.091436,-0.025878,0.116348,0.002201
Number of Open Accounts,-0.017602,0.077691,-0.000897,-0.034046,0.145422,0.130020,-0.037506,1.000000,-0.015721,0.221711,-0.024167,0.004558
Number of Credit Problems,-0.009090,-0.018104,0.001095,-0.055747,-0.017196,0.060393,0.091436,-0.015721,1.000000,-0.106362,0.763386,0.579014
Current Credit Balance,0.007107,0.088358,0.002305,-0.011869,0.305022,0.202269,-0.025878,0.221711,-0.106362,1.000000,-0.120069,-0.012301
Bankruptcies,0.000139,-0.019868,0.003645,-0.043110,-0.047313,0.061128,0.116348,-0.024167,0.763386,-0.120069,1.000000,0.049835
Tax Liens,-0.010736,-0.003069,-0.001876,-0.025183,0.036216,0.021056,0.002201,0.004558,0.579014,-0.012301,0.049835,1.000000

In [32]:
newresult=result[['Term','Current Loan Amount', 'Credit Score']]
ytotal = result[['Loan Status']]
newresult.info(), ytotal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215700 entries, 0 to 215699
Data columns (total 3 columns):
Term                   215700 non-null int64
Current Loan Amount    215700 non-null int64
Credit Score           215700 non-null float64
dtypes: float64(1), int64(2)
memory usage: 6.6 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 215700 entries, 0 to 215699
Data columns (total 1 columns):
Loan Status    215700 non-null int64
dtypes: int64(1)
memory usage: 3.3 MB

(None, None)

In [33]:
newresult

        Term  Current Loan Amount  Credit Score
0          0                11520         741.0
1          0                 3441         734.0
2          0                21029         747.0
3          0                18743         747.0
4          0                11731         746.0
5          0                10208         716.0
6          1                24613         664.0
7          0                10036         732.0
8          0                 2036         733.0
9          0             99999999         742.0
10         0                10233         742.0
11         0                17980         701.0
12         0             99999999         744.0
13         0                 7587         744.0
14         0                11604         729.0
15         1                16929         734.0
16         0                 7228         732.0
17         0             99999999         745.0
18         0                11863         734.0
19         1                15395         733.0
20         0                 4612         732.0
21         1                16906         728.0
22         0             99999999         724.0
23         1                16080         692.0
24         0                10529         739.0
25         0                14727         740.0
26         0                 1433         716.0
27         1                17484         607.0
28         0                 5111         735.0
29         1                19731         623.0
...      ...                  ...           ...
215670     0                 8019         742.0
215671     0                20658         745.0
215672     0                20492         722.0
215673     1                27578         712.0
215674     0                 8611         751.0
215675     1                12262         741.0
215676     0             99999999         698.0
215677     0             99999999         742.0
215678     0                11057         727.0
215679     0                 5366         737.0
215680     0                 9833         743.0
215681     0                10414         742.0
215682     0                 9753         732.0
215683     1                15903         687.0
215684     0                 8721         726.0
215685     0                 6655         732.0
215686     0             99999999         738.0
215687     1                30327         715.0
215688     0                11524         725.0
215689     0                 9981         737.0
215690     0                10782         738.0
215691     0             99999999         734.0
215692     0                 5968         746.0
215693     1                10575         722.0
215694     0                34710         700.0
215695     0                11953         717.0
215696     0                 3911         732.0
215697     0                 5078         737.0
215698     0                12116         746.0
215699     1                27902         678.0

[215700 rows x 3 columns]

In [34]:
ytotal

        Loan Status
0                 1
1                 1
2                 1
3                 1
4                 1
5                 1
6                 0
7                 1
8                 1
9                 1
10                1
11                0
12                1
13                1
14                0
15                0
16                1
17                1
18                1
19                1
20                1
21                1
22                1
23                1
24                1
25                0
26                1
27                1
28                1
29                0
...             ...
215670            1
215671            0
215672            0
215673            1
215674            1
215675            0
215676            1
215677            1
215678            1
215679            1
215680            1
215681            1
215682            1
215683            1
215684            1
215685            1
215686            1
215687            1
215688            0
215689            1
215690            0
215691            1
215692            0
215693            0
215694            0
215695            0
215696            1
215697            1
215698            0
215699            1

[215700 rows x 1 columns]

In [35]:
l= len(newresult)
# print(l)
trainSize = int(l*0.75)
# print(trainSize)
train, test = newresult[0:trainSize], newresult[trainSize+1:]
y = ytotal[0:trainSize]

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
xtrain, xtest, ytrain, ytest = train_test_split(newresult, ytotal, test_size=.25, random_state=0)

In [45]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((161775, 3), (53925, 3), (161775, 1), (53925, 1))

In [36]:
y

        Loan Status
0                 1
1                 1
2                 1
3                 1
4                 1
5                 1
6                 0
7                 1
8                 1
9                 1
10                1
11                0
12                1
13                1
14                0
15                0
16                1
17                1
18                1
19                1
20                1
21                1
22                1
23                1
24                1
25                0
26                1
27                1
28                1
29                0
...             ...
161745            1
161746            1
161747            1
161748            1
161749            0
161750            1
161751            1
161752            1
161753            1
161754            0
161755            1
161756            1
161757            1
161758            1
161759            0
161760            1
161761            1
161762            1
161763            1
161764            1
161765            0
161766            1
161767            1
161768            1
161769            1
161770            1
161771            1
161772            1
161773            1
161774            0

[161775 rows x 1 columns]

In [37]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

g = GaussianNB()
b = BernoulliNB()
k = KNeighborsClassifier()
log = LogisticRegression()
gbc = GradientBoostingClassifier()
d = DecisionTreeClassifier()
r = RandomForestClassifier()

In [38]:
algorithms = [g, b, k, log, gbc, d, r]
names = ['GaussianNB', 'BernoulliNB', 'K Nearest', 'Logistic', 'Gradient Boosting', 'Single Tree', 'Random Forest']

In [39]:
accuracy = []
precision= []
recall= []
f1 = []

In [46]:
def tDMasses(X = xtrain,y = ytrain, algorithms=algorithms , names=names ):
    #fit the data
    for i in range(len(algorithms)):
        algorithms[i]= algorithms[i].fit(X,y)
    #print metrics
    accuracy = []
    precision= []
    recall= []
    f1 = []
    for i in range(len(algorithms)):
        if accuracy_score(y,algorithms[i].predict(X)) == 1:
            accuracy.append(0)
        else:
            accuracy.append(accuracy_score(y,algorithms[i].predict(X)))
        if precision_score(y,algorithms[i].predict(X)) == 1:
            precision.append(0)
        else:
            precision.append(precision_score(y,algorithms[i].predict(X)))
        if recall_score(y,algorithms[i].predict(X)) == 1:
            recall.append(0)
        else:
            recall.append(recall_score(y,algorithms[i].predict(X)))
        if f1_score(y,algorithms[i].predict(X)) == 1:
            f1.append(0)
        else:
            f1.append(f1_score(y,algorithms[i].predict(X)))

    metrics = pd.DataFrame(columns = ['Accuracy', 'Precision', 'Recall', 'F1'], index = names)
    metrics['Accuracy'] =accuracy
    metrics['Precision'] = precision
    metrics['Recall']=recall
    metrics['F1']=f1
    return metrics.sort_values('F1',ascending = False)

In [47]:
tDMasses()

//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/sklearn/ensemble/gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

                   Accuracy  Precision    Recall        F1
Single Tree        0.982476   0.992779  0.985707  0.989230
Random Forest      0.964080   0.975351  0.980793  0.978065
K Nearest          0.850669   0.869742  0.961042  0.913115
BernoulliNB        0.816504   0.816504  0.000000  0.898984
Logistic           0.816504   0.816504  0.000000  0.898984
Gradient Boosting  0.820430   0.832670  0.976259  0.898766
GaussianNB         0.346821   0.000000  0.200030  0.333375

In [49]:
pred = r.predict(xtest)

In [50]:
accuracy_score(ytest, pred)

0.7552155771905424

In [51]:
r.feature_importances_

array([0.01959259, 0.81599068, 0.16441672])

In [ ]:
'Term','Current Loan Amount', 'Credit Score'